html,
body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  background-color: rgb(17, 17, 17);
  /* Give app full page to work with */
  height: 100vh;
  text-align: center;
}

.main-stuff {
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
  background-color: brown;
  height: 100vh;
}

.bm-item {
  text-decoration: none;
  color: white;
}
.bm-item:hover {
  color: #747d8c;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #25ccf7;
}

.bm-cross {
  background: #2f3542;
}

.bm-menu {
  background: #25ccf7;
  padding: 2.5em 1.5em 0;
  font-size: 2em;
}
